.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media {
  display: flex;
}
.video {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-direction: row; */
  align-items: center;
}
.canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#startAndStop {
  padding: 0.5rem 1rem;
  font-size: larger;
  margin-bottom: 0.5rem;
}